
@use "../commons/variables.scss" as v;

section#contact {
    margin-top: 150px;
    margin-bottom: 100px;

    h2 {
        color: v.$color-accent;
        text-align: center;
        font-size: 3em;
        margin-bottom: 20px;
    }

    p.sub {
        font-size: v.$font-size-s;
        color: v.$text-light;
        text-align: center;
        max-width: 400px;
        margin: auto;
    }

    .btn {
        margin: 30px auto;
        a {
            color: v.$color-black;
            text-decoration: none;
        }
    }
}