@use "../commons/variables.scss" as v;

section#projects {

    #hoveringcards {
        height: 100vh;
        width: 100%;
        position: relative;
        margin-top: 120px;

        h2 {
            color: v.$color-accent;
            text-align: center;
            font-size: 3em;
            margin-bottom: 20px;
        }

        p {
            font-size: v.$font-size-s;
            color: v.$text-light;
            text-align: center;
            max-width: 400px;
            margin: auto;
        }

        .list {
            width: 100%;
            justify-content: center;
            display: flex;
            gap: 2px;
            align-items: center;
            transform-style: preserve-3d;
            transform:
                perspective(1000px);
            margin-top: 50px;

            .item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 220px;
                height: 350px;
                transition: .5s;
                filter: brightness(0.2);
                background-color: #fff;
                padding: 20px;

                .title {
                    text-align: center;
                    padding: 20px 0 0 0;
                    color: v.$color-black;
                    font-weight: 600;
                }

                .desc {
                    color: v.$color-black;
                }

                &:hover {
                    filter: brightness(1);
                    transform: translateZ(100px);
                }

                &:hover+* {
                    filter: brightness(0.8);
                    transform: translateZ(50px) rotateY(20deg);
                }

                &:hover+*+* {
                    filter: brightness(0.4);
                    transform: translateZ(10px) rotateY(5deg);
                }

                &:has(+ *:hover) {
                    filter: brightness(0.8);
                    transform: translateZ(50px) rotateY(-20deg);
                }

                &:has(+ * + *:hover) {
                    filter: brightness(0.4);
                    transform: translateZ(10px) rotateY(-5deg);
                }

                /*img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }*/
            }
        }
    }
}