
@use "../commons/variables.scss" as v;

.toc-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;

    .toc {
        position: sticky;
        top: 50vh;
        left: 100%;

        width: 210px;

        transform: translateX(40px);

        z-index: 10;

        padding: 1.5rem;

        background: rgba(0,0,0,0.18);
        backdrop-filter: blur(12px);

        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        @media screen and (max-width: 768px) {
            top: 0;
            left: 0;
            width: 100%;
            transform: translateX(0px);
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media screen and (max-width: 768px) {
                flex-direction: row;
                justify-content: space-between;
            }

            li a {
                color: v.$color-light;
                font-weight: 600;
                font-size: v.$font-size-l;
                text-decoration: none;
                transition: all 0.3s ease-in;

                @media screen and (max-width: 768px) {
                    font-size: v.$font-size-s;
                }

                &.active {
                    background-color: v.$color-accent;
                    color: v.$color-black;
                    border-radius: 5px;
                    padding: 5px 20px;
                }
            }
        }
    }
}

