
@use "variables.scss" as v;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: v.$font-body;
    background: v.$elegant-bg;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding: 100px; 

    @media screen and (max-width: 768px) {  
        scroll-padding: 80px;
    }
}

#content {
    position: relative;
    min-height: 200vh;
}

