/* =========================
   Color palette
   ========================= */


$color-primary: #2563eb;     
$color-secondary: #0f172a;   
$color-accent: #22ff88;

$futuristic-bg: linear-gradient(
    135deg,
    #60a5fa 0%,
    #2563eb 30%,
    #0f172a 70%,
    #020617 100%
);

$elegant-bg: linear-gradient(
    135deg,
    #1d4ed8 0%,
    #0b1c3d 50%,
    #020617 100%
);

$color-white: #ffffff;
$color-light: #f1f5f9;
$color-gray: #94a3b8;
$color-dark: #1e293b;
$color-black: #020617;

$text-main: $color-light;
$text-light: $color-gray;


/* =========================
   Fonts
   ========================= */

// orbitron
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Orbitron:wght@400..900&family=Sora:wght@100..800&family=Zen+Dots&display=swap');

// Manrope
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&family=Zen+Dots&display=swap');


$font-heading: "Orbitron", sans-serif;
$font-body: "Manrope", Helvetica, Arial, sans-serif;

$font-size-s: clamp(0.75rem, 0.7rem + 0.3vw, 0.9rem);   // ~12px → 14.5px
$font-size-m: clamp(0.9rem, 0.85rem + 0.4vw, 1.1rem);  // ~14px → 17.5px
$font-size-l: clamp(1.2rem, 1.05rem + 0.6vw, 1.6rem);  // ~19px → 25.5px
$font-size-xl: clamp(3rem, 2.2rem + 4vw, 6rem);        // ~48px → 96px